.container{
    background-color: #ffffff;
    width: auto;
    position: relative;
  }
  .container img{
    opacity: 0.5;
    display:block;
    width:100%;
  }
  .container p{
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color:#ffffff;
    margin:0;
  }
  .container a{
    transform: translate(-50%,-50%);
    font-size: 60px;
    color:#000000;
    margin:0;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(cafe.jpg) no-repeat center center / cover;
    height: 00px;
 }
 .button>a{
    display: block;
    width: 200px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.3);
    border: 1px solid #FFF;
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-size: 120%;
    font-weight: bold;
    transition: .3s;
    text-decoration: none;
 }
 .button>a:hover{
    background: rgba(255,255,255,1);
    color: #333;
 }
